
<header class="site-header d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-5 col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Courses</li>
          </ol>
        </nav>

        <h2 class="text-white">Courses</h2>
      </div>
      <div class="hero-section col-lg-7 col-12">
        <app-search-box [query]="query" class="search-box"></app-search-box>
      </div>

    </div>
  </div>
</header>


<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">

      </div>
      <div class="col-lg-12 col-12 text-center">
        <h3 class="mb-4">Courses</h3>
      </div>


      <div class="col-lg-8 col-12 mt-3 mx-auto" *ngIf="items && items.length > 0">

        <div *ngFor="let item of items" class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
          <div class="d-flex">
            <img src="{{item?.image}}" class="custom-block-image img-fluid" alt="">

            <div class="custom-block-topics-listing-info d-flex w-100">
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h5 class="mb-2">{{item.title}}</h5>
                  <span *ngIf="item.sale" class="badge rounded-pill bg-primary" style="width: auto!important;">On Sale</span>
                </div>

                <p class="mb-0"></p>

                <a [routerLink]="'/course-details/' + item.id" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-12 mt-3 mx-auto text-center">
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div *ngIf="!loading && items?.length == 0" class="alert alert-warning" role="alert">
          No courses found!
        </div>
      </div>

    </div>
  </div>
</section>


