<form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
  <div class="input-group input-group-lg">
    <span class="input-group-text bi-search" id="basic-addon1">
      <bi name="search" class="search"></bi>
    </span>
    <input name="keyword" type="search" class="form-control" id="keyword" (search)="doSearch()" (keyup.enter)="doSearch()" [(ngModel)]="query" placeholder="Design, Code, Learn ..." aria-label="Search">
    <button type="submit" class="form-control" (click)="doSearch()">Search</button>
  </div>
</form>
