<header class="site-header d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center align-items-center">

      <div class="col-lg-5 col-12 mb-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

            <li class="breadcrumb-item active" aria-current="page">{{course?.title}}</li>
          </ol>
        </nav>

        <h2 class="text-white">{{course?.category?.title}}</h2>

        <div class="d-flex align-items-center mt-5">
          <!--<a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Read More</a>-->

          <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
        </div>
      </div>

     <div class="col-lg-5 col-12">
       &nbsp;
      </div>

    </div>
  </div>
</header>


<section class="topics-detail-section section-padding" id="topics-detail">

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-12">
        <div class="text-center">
          <div *ngIf="loading" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="!loading && !course" class="alert alert-warning" role="alert">
            The course you are looking is not found!
          </div>
        </div>

        <h3 class="mb-4">{{course.title}}</h3>

        <p>{{course.description}}</p>

        <div class="row my-4">
          <div class=" col-12 mt-4 mt-lg-0 mt-md-0">
            <img src="{{course.image}}" class="topics-detail-block-image img-fluid">
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 ">
        <h3 class="mb-4">Book this course</h3>
        <div class="col-lg-15 col-12">
          <form action="#" method="post" class="custom-form contact-form" role="form">
            <div *ngIf="message" class="alert alert-warning" role="alert">
              {{message}}
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-floating">
                  <input type="text" name="name" id="name" [(ngModel)]="booking.firstName"  class="form-control" placeholder="Name" required>
                  <label for="name">Name</label>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-floating">
                  <input type="text" name="surname" id="surname" [(ngModel)]="booking.lastName"  class="form-control" placeholder="Surname" required>
                  <label for="name">Surname</label>
                </div>
              </div>

              <div class="col-lg-12  col-md-6 col-12">
                <div class="form-floating">
                  <input type="email" name="email" id="email" pattern="[^@]*@[^@]*" [(ngModel)]="booking.email"  class="form-control" placeholder="Email address" required>
                  <label for="email">Email address</label>
                </div>
              </div>

              <div class="col-lg-12 col-12">
                <div class="form-floating">
                  <input type="text" name="number" id="number" [(ngModel)]="booking.phoneNumber" class="form-control" placeholder="Number" required>
                  <label for="number">Phone Number</label>
                </div>
              </div>

              <div class="col-lg-6 col-12 ms-auto">
                <button [disabled]="loading" type="submit" class="form-control" (click)="doBooking()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

