<footer class="site-footer section-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-12 mb-4 pb-2">
        <a class="navbar-brand mb-2" href="index.html">
          <i class="bi-back"></i>
          <span>Learnify</span>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <h6 class="site-footer-title mb-3">Resources</h6>

        <ul class="site-footer-links">
          <li class="site-footer-link-item">
            <a href="#" class="site-footer-link">Home</a>
          </li>

          <li class="site-footer-link-item">
            <a href="#" class="site-footer-link">How it works</a>
          </li>


          <li class="site-footer-link-item">
            <a href="/contact-us" class="site-footer-link">Contact</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
        <h6 class="site-footer-title mb-3">Information</h6>

        <p class="text-white d-flex mb-1">
          <a href="tel: +35568574895" class="site-footer-link">
            +35568574895
          </a>
        </p>

        <p class="text-white d-flex">
          <a href="mailto:info@company.com" class="site-footer-link">
            info@learnify.com
          </a>
        </p>
      </div>

      <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            English</button>

          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Thai</button></li>

            <li><button class="dropdown-item" type="button">Myanmar</button></li>

            <li><button class="dropdown-item" type="button">Arabic</button></li>
          </ul>
        </div>

        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Learnify Center. All rights reserved.
          <br><br>Design: <a rel="nofollow" href="https://sdacademy.al/" target="_blank">JavaTirana22</a> Distribution <a rel="nofollow" href="https://sdacademy.al/" [target]="_blank" >SDA</a></p>

      </div>

    </div>
  </div>
</footer>
