<div id="sticky-wrapper" class="sticky-wrapper" [ngClass]="{'sticky-fixed': isSticky}" style="height: 78px;">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="favicon.ico" class="site-logo">
        <span class="ms-2-site-logo">Learnify</span>

      </a>

      <div class="d-lg-none ms-auto me-4">
        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-lg-5 me-lg-auto">
          <li class="nav-item">
            <a class="nav-link click-scroll" [ngClass]="{'active': router.url === '/home-page', 'inactive': router.url !== '/home-page'}" routerLink="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link click-scroll" [ngClass]="{'active': router.url === '/courses', 'inactive': router.url !== '/courses'}" routerLink="/courses">Courses</a>
          </li>

          <li class="nav-item">
            <a class="nav-link click-scroll inactive" [ngClass]="{'active': router.url === '/contact-us', 'inactive': router.url !== '/contact-us'}" routerLink="/contact-us">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
